ul li:nth-child(odd) {
    background: #252d3c;
    color: #f9f9f9;
  }

ul li.checked {
    color: #ee7c35;
    text-decoration: line-through;
}

li{
    max-width: 98%;
    border-radius: 10px 0px 0px 10px;
    font-size: 5rem;
    font-family:'Courier New', Courier, monospace;
    list-style: none;
}

input[type="text"] {
    border-radius: 10px 0px 0px 10px;
    width: 340px;
    height: 50px;
    outline: none;
    border: none;
    font-size: 1rem;
    padding: 0 25px;
    background-color: #f9f9f9;
}

button {
    background-color: #ee7c35;
    border-radius: 0px 10px 10px 0px;
    width: 55px;
    height: 55px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: rgb(255, 255, 255);
    left: -5px;
    position: relative;
}

button:hover {
    background-color:#bd642d;
}

button:focus {
    background-color:#ffffff;}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.contents {
    display: grid;
}

.selectButton{
    width: 50px;
    height: 50px;
    border-radius: 0px 0px 0px 0px;
    text-decoration: none;
    position: revert;
    float: right;
}